[settings]
client.nat.enabled=true
client.communication.multicast.timeToLive=127
client.endpoint.address=43.123.32.213

[plugins]
li.pitschmann.knx.examples.load_from_configfile.TestPlugin
li.pitschmann.knx.examples.load_from_configfile.TestObserverPlugin
li.pitschmann.knx.examples.load_from_configfile.TestExtensionPlugin