<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Logging (WARN or higher) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%-5level] [%logger{40}] - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- File Logging (DEBUG or higher) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>knx.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>knx.log.%d.gz</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%-5level] [%thread] [%logger:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Log Levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF
    -->
    <logger name="li.pitschmann.knx.examples" level="DEBUG"/>
    <root level="${root-level:-ALL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
