<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Logging (ALL) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[TEST] [%X{junitClass}.%X{junitMethod}] %date [%-5level] [%logger{40}:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Log Levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF
     -->
    <root level="${root-level:-DEBUG}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
